[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group osp-ceph-automation
	owner = group user/Tomas Rusnak (trusnak)
	owner = group user/Yogev Rabl (yorabl)
[access "refs/for/refs/*"]
	read = group osp-ceph-automation
	read = group user/Tomas Rusnak (trusnak)
	read = group user/Yogev Rabl (yorabl)
	push = group osp-ceph-automation
	push = group user/Tomas Rusnak (trusnak)
	push = group user/Yogev Rabl (yorabl)
	label-Code-Review = -2..+2 group osp-ceph-automation
	label-Code-Review = -2..+2 group user/Tomas Rusnak (trusnak)
	label-Code-Review = -2..+2 group user/Yogev Rabl (yorabl)
	label-Verified = -1..+1 group osp-ceph-automation
	label-Verified = -1..+1 group user/Tomas Rusnak (trusnak)
	label-Verified = -1..+1 group user/Yogev Rabl (yorabl)
	rebase = group osp-ceph-automation
	rebase = group user/Tomas Rusnak (trusnak)
	rebase = group user/Yogev Rabl (yorabl)
	removeReviewer = group osp-ceph-automation
	removeReviewer = group user/Tomas Rusnak (trusnak)
	removeReviewer = group user/Yogev Rabl (yorabl)
	submit = group osp-ceph-automation
	submit = group user/Tomas Rusnak (trusnak)
	submit = group user/Yogev Rabl (yorabl)
[access "refs/heads/*"]
	read = group osp-ceph-automation
	read = group user/Tomas Rusnak (trusnak)
	read = group user/Yogev Rabl (yorabl)
	create = group osp-ceph-automation
	create = group user/Tomas Rusnak (trusnak)
	create = group user/Yogev Rabl (yorabl)
	push = +force group osp-ceph-automation
	push = group user/Tomas Rusnak (trusnak)
	push = +force group user/Yogev Rabl (yorabl)
	pushMerge = group osp-ceph-automation
	pushMerge = group user/Tomas Rusnak (trusnak)
	pushMerge = group user/Yogev Rabl (yorabl)
[access "refs/tags/*"]
	push = +force group osp-ceph-automation
	push = group user/Tomas Rusnak (trusnak)
	push = group user/Yogev Rabl (yorabl)
